*{
  font-family:sans-serif;
}

#title
{
  position: relative;
  left: 90px;
  bottom: 30px;

}

#lista_regras
{
position: relative;
bottom: 77px;
left: 30px;
font-size: large;
text-align: justify;

}

#blackj
{
  position: relative;
  left: 50px;
  bottom: 90px;
  height: auto;
  width: 300px;
}
