*{
  font-family:sans-serif;
  white-space: pre-line;
}

.info{
  margin: 15px;
}

#hit, #stay{
  --width: 90px;
  --height: 90px;
  --vertical-align: middle;
  --padding-start: 20px;
  --padding-end: 20px;
    position: relative;
    left: 10px;
    margin: 5px;
}

#voltar{
  position: fixed;
  top: 600px;
  left: 280px;
}

#win{
  position: relative;
  left: 220px;
  bottom: 278px;
}

#jogar_novo{
  position: relative;
  bottom: 100px;
  left: -70px;
}
#trophy{
  position:relative;
  height: auto;
  width: 80px;
  left: 240px;
  bottom: 275px;
}
