<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Jogar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p class="info"><b>Dealer tem: </b><br>{{ dealerStatus }}</p>
  <p class="info"><b>Pontuação: </b>{{ scDealer }}</p>
  <p class="info"><b>Voce tem: </b><br>{{ playerStatus }}</p>
  <p class="info"><b>Pontuação: </b>{{ scPlayer }}</p>
  <ion-button class="botao" id="hit" expand="round" color="tertiary" *ngIf="start" (click)="hit()">Hit</ion-button>
  <ion-button class="botao" id="stay" expand="round" color="tertiary" *ngIf="start" (click)="stay()">Stay</ion-button>
  <p id="win" *ngIf="gameOver"><b>{{ win }}</b></p>
  <img *ngIf="gameOver" id="trophy" src="./assets/trophy.png" alt="">
  <ion-button (click)="startGame()" expand="round" id="jogar_novo" color="tertiary" *ngIf="gameOver">Jogar de Novo</ion-button>
  <ion-button routerDirection="back" expand="round" color="tertiary" id="voltar" href="/home">Voltar</ion-button>
</ion-content>
