*{
  font-family:sans-serif;
  color: #fff;
  white-space: pre-line;
}

.info{
  margin: 15px;
}

#hit, #stay{
  --width: 90px;
  --height: 90px;
  --vertical-align: middle;
  --padding-start: 20px;
  --padding-end: 20px;
    position: relative;
    left: 120px;
    top: 250px;
    margin: 5px;
}

#score_dealer
{
  position: relative;
  top:220px;
  left: 145px;
}

#score_player{
  position: relative;
  top: 232px;
  left: 145px;
}
#win{
  position: relative;
  left: 220px;
  bottom: 278px;
}

#jogar_novo{
  position: relative;
  bottom: 100px;
  left: -70px;
}

#dealer{
  height: auto;
  width: 90px;
  margin: -30px;
  position: relative;
  top: 20px;
  left: 160px;

}

#player{
  height: auto;
  width: 90px;
  margin: -30px;
  position: relative;
  top: 190px;
  left: 160px;
  align-self: center;
}

#back{
  height: auto;
  width: 90px;
  position: absolute;
  bottom: -37px;
  left: 170px;
}
ion-content {
  --background:url("/assets/table3.png");
}
