*{
  font-family:sans-serif;
}

#title2
{
  position: relative;
  left: 130px;
  bottom: 100px;

}

#blackja
{
  position: relative;
  left: 32px;
  bottom: 210px;
  width: 350px;
  height: auto;
}

#b_jogar{
  position: relative;
  bottom: 300px;
}


