<script src="home.page.ts"></script>
<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Jogar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>
        Menu Principal
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item href="/home">
        <ion-icon name="game-controller"></ion-icon>
         Jogar
      </ion-item>
      <ion-item href="/como-jogar">
        <ion-icon name="information-circle"></ion-icon>
         Como Jogar?
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<h1 id="title2">BlackJack</h1>
<img id="blackja" src="./assets/blackjack.png" alt="">
<ion-button id="b_jogar" expand="round" color="tertiary" onclick="startGame()">Jogar</ion-button>
<br>
<p id="dealer" style="display:none;"><b>Dealer tem:</b></p>
<p id="dealer_status"></p>
<p id="sc" style="display:none;"><b>Pontuação:</b></p>
<p id="sc_dealer"></p>
<br>
<p id="player" style="display:none;"><b>Voce tem:</b></p>
<p id="player_status"></p>
<p id="sc2" style="display:none;"><b>Pontuação:</b></p>
<p id="scPlayer"></p>
<ion-button id="botao_hit" expand="round" style="display:none ;"color="tertiary" onclick="hit()">Hit</ion-button>
<ion-button id="botao_stay" expand="round" style="display:none ;"color="tertiary" onclick="stay()">Stay</ion-button>
<ion-button id="jogar_novo" expand="round" style="display:none ;"color="tertiary" onclick="startGame()">Jogar de Novo</ion-button>
<p id="win"></p>
<ion-router-outlet id="main"></ion-router-outlet>
