<script src="home.page.ts"></script>
<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Jogar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>
        Menu Principal
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item href="/home">
        <ion-icon name="game-controller"></ion-icon>
         Jogar
      </ion-item>
      <ion-item href="/como-jogar">
        <ion-icon name="information-circle"></ion-icon>
         Como Jogar?
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<h1 id="title2">BlackJack</h1>
<img id="blackja" src="./assets/blackjack.png" alt="">
<ion-button id="b_jogar" expand="round" color="tertiary" href="/jogar">Jogar</ion-button>
<br>

